:host {
  --height-peak: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100dvh + var(--height-peak));
  transform: translateY(100%);
  z-index: 3;
  transition: transform ease-in-out 0.25s;

  &.hasWorkout {
    transform: translateY(calc(100dvh - calc(var(--height-bottom-nav) + var(--height-peak))));
  }

  &.open {
    transform: translateY(calc(0% - var(--height-peak)));

    .workout-peak {
      opacity: 0;
    }
  }

  .workout-peak {
    box-shadow:
      0 -1px 5px rgba(0, 0, 0, 0.15),
      0 0 0px rgba(0, 0, 0, 0.2);
    transition: opacity ease-in-out 0.25s;
    opacity: 1;
    height: var(--height-peak);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-grey-850);
  }
}

input[type='number'],
input[type='text'] {
  background-color: var(--color-blue-grey-850);
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 12px 8px;
  display: block;
  flex: 1;
}

.workout-body {
  background-color: var(--color-blue-grey-900);
  height: 100dvh;

  nav {
    background-color: var(--color-blue-grey-850);
    height: var(--height-top-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      padding: 0 12px;

      img {
        width: 20px;
      }

      &.finish {
        color: var(--color-blue-300);
        letter-spacing: 0.8px;
        font-size: 13px;
      }
    }
  }
}

.exercise {
  margin: 12px 0;

  &:last-of-type {
    margin: 12px 0 0 0;
  }
}

.exercise-name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  button.cancel {
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }
}

.set > *:nth-child(1) {
  width: 28px;
}

.set > *:nth-child(2) {
  width: 20px;
}

.set > *:nth-child(3),
.set > *:nth-child(4) {
  width: calc((100% - 68px) / 2);
}

.set > *:nth-child(5) {
  width: 20px;
}

.set {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  & > * {
    text-align: center;
  }

  &.heading {
    font-size: 12px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red-600);
    border: none;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
  }

  .set-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }

  input[type='number'] {
    text-align: center;
    width: 100%;
    background-color: var(--color-blue-grey-850);
    border: none;
    border-radius: 4px;
    margin-right: 12px;
    padding: 8px 8px;
    display: block;
    flex: 1;
  }
}

button.add-exercise,
button.add-set,
button.cancel-workout {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--color-blue-300);
  letter-spacing: 0.8px;
  font-size: 13px;
  padding: 12px 0;
  font-weight: 600;
}

button.cancel-workout {
  color: var(--color-red-300);
}
