<app-navigation-top>
  <app-navigation-back></app-navigation-back>
  <h1>Settings</h1>
</app-navigation-top>

<main class="content-max-width">
  <h1>Source Code / Contribute</h1>
  <a href="https://github.com/alshdavid/stronk" class="github-link" target="_blank">GitHub</a>

  <a href="https://github.com/alshdavid/stronk/issues" class="github-link" target="_blank">Report Issue</a>

  <h1>Support Development</h1>
  <a href="https://wise.com/pay/me/davidsama1" target="_blank" class="btn green">Donate (Wise)</a>

  <h1>Utilities</h1>
  <button class="btn">Import: Strong App (TODO)</button>
  <button class="btn">Export Data (TODO)</button>
  <button (click)="clearStorage()" class="btn">CLEAR ALL DATA</button>
</main>
