.bottom-nav-boundary {
  height: var(--height-bottom-nav);
  max-height: var(--height-bottom-nav);
  transition: transform ease-in-out 0.25s;
}

nav {
  transition: transform ease-in-out 0.25s;
  display: flex;
  height: var(--height-bottom-nav);
  box-shadow:
    0 -1px 5px rgba(0, 0, 0, 0.15),
    0 0 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-blue-grey-850);
}

button {
  opacity: 0.5;
  width: calc(100vw / 5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;

  &.active {
    opacity: 1;
  }

  img {
    height: 28px;
    margin: 0 0 4px 0;
  }

  p {
    margin: 0;
  }
}

:host.hide {
  .bottom-nav-boundary {
    max-height: 0px;
  }

  nav {
    transform: translateY(calc(var(--height-bottom-nav) + 4px));
  }
}
