<div class="bottom-nav-boundary"></div>
<nav>
  <button routerLink="profile" routerLinkActive="active">
    <img src="icons/profile.svg"/>
    <p>Profile</p>
  </button>

  <button routerLink="history" routerLinkActive="active">
    <img src="icons/clock.svg"/>
    <p>History</p>
  </button>

  <button routerLink="workout" routerLinkActive="active">
    <img src="icons/plus.svg"/>
    <p>Workout</p>
  </button>

  <button routerLink="exercises" routerLinkActive="active">
    <img src="icons/dumbell.svg"/>
    <p>Exercises</p>
  </button>

  <button routerLink="measure" routerLinkActive="active">
    <img src="icons/ruler.svg"/>
    <p>Measure</p>
  </button>
</nav>
