:host {
  display: block;
  position: relative;
  z-index: 4;
  z-index: 10;
  min-height: 100dvh;
  background-color: var(--color-blue-grey-900);
}

article {
  margin-bottom: 12px;
}

h1 {
  font-weight: 500;
  margin-bottom: 4px;
}

time {
  display: block;
  font-size: 14px;
  color: var(--color-grey-500);
  margin-bottom: 12px;
}

.entry {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey-500);
  white-space: pre;

  &.title {
    color: white;
  }

  .pad-end {
    display: inline-block;
    min-width: 90px;
  }
}

footer {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
  }

  .btn {
    width: 100%;
    display: block;
  }
}
