/* You can add global styles to this file, and also import other style files */
@import './css/colors.css';

body,
html {
  background-color: var(--color-blue-grey-900);
  color: white;
  margin: 0;
  height: 100dvh;
}

* {
  color: inherit;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.content-max-width {
  padding: 16px 3%;
}

@media (min-width: 1280px) {
  .content-max-width {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 18px;
}

footer {
  display: block;
  z-index: 3;
  height: var(--height-bottom-nav);
  display: flex;
  height: var(--height-bottom-nav);
  box-shadow:
    0 -1px 5px rgba(0, 0, 0, 0.15),
    0 0 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-blue-grey-850);

  .buffer {
  }

  .content {
  }
}

.btn {
  background-color: var(--color-grey-600);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-weight: 500;
  border-radius: 4px;

  &.primary,
  &.blue {
    background-color: var(--color-blue-500);
  }

  &.red {
    background-color: var(--color-red-500);
  }

  &:disabled {
    opacity: 0.7;
  }
}
