/* You can add global styles to this file, and also import other style files */
@import "./css/colors.css";

body, html {
  background-color: var(--color-blue-grey-900);
  color: white;
  margin: 0;
  height: 100vh;
}

* {
  color: inherit;
}
