.boundary {
  height: 48px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 48px;
  box-shadow:
    0 1px 5px rgba(0, 0, 0, 0.15),
    0 0 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-blue-grey-850);

  > *:first-child {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
  }
}

:host ::ng-deep nav > *:last-child {
  display: contents;
}

:host ::ng-deep img {
  height: 24px;
}
